<section>
    <div id="portfolio" id="project">
        <div class="main-text" id="project">
            <h2 style="color: white;">latest <span>Project</span></h2>
            <div class="portfolio-content">
                <div class="row">
                    <img src="./img/loan-img.jpg" alt="">
                    <div class="layer">
                        <h5>Bank Loan</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ipsum esse animi? Autem dolorum ducimus nemo
                             distinctio nisi, sit velit inventore odit incidunt recusandae doloribus sapiente. Harum, voluptas natus. Quos?</p>
                        <a href="" targer="__blank"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
                <div class="row">
                    <img src="./img/loan-img.jpg" alt="">
                    <div class="layer">
                        <h5>Bank Loan</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ipsum esse animi? Autem dolorum ducimus nemo
                             distinctio nisi, sit velit inventore odit incidunt recusandae doloribus sapiente. Harum, voluptas natus. Quos?</p>
                        <a href="" targer="__blank"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
                <div class="row">
                    <img src="./img/loan-img.jpg" alt="">
                    <div class="layer">
                        <h5>Bank Loan</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ipsum esse animi? Autem dolorum ducimus nemo
                             distinctio nisi, sit velit inventore odit incidunt recusandae doloribus sapiente. Harum, voluptas natus. Quos?</p>
                        <a href="" targer="__blank"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
                <div class="row">
                    <img src="./img/loan-img.jpg" alt="">
                    <div class="layer">
                        <h5>Bank Loan</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ipsum esse animi? Autem dolorum ducimus nemo
                             distinctio nisi, sit velit inventore odit incidunt recusandae doloribus sapiente. Harum, voluptas natus. Quos?</p>
                        <a href="" targer="__blank"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>