
<section class="about">
    <div class="about-container">
        <div class="about-box">
            <h2 class=".wh">Why hire me?</h2>
            <p>You should hire me as an Angular developer because I bring strong expertise in building dynamic,
                 scalable web applications using Angular.</p>
                <button class="resume-btn " #active>Experience</button>
                <button class="resume-btn">Education</button>
                <button class="resume-btn">Skill</button>
                <button class="resume-btn">About Me</button>
              

        </div>
        <div class="about-box">
            <div class="resume-details experience active">
                <h2 class="heading">My <span >Experience</span></h2>
                <div class="desc">
                    <span>Proven Angular Expertise:</span><p> I have strong experience in developing responsive, scalable web applications using Angular. I’m proficient in Angular CLI, modules, components, services, directives, and routing.
                   </p>
                   
                    <span>Strong Front-End Skills:</span> <p>                    In addition to Angular, I have a solid understanding of HTML, CSS, and JavaScript (ES6+), enabling me to create clean, user-friendly interfaces.
</p>
                    
                    <span>Problem-Solving Abilities:</span><p>                    I excel at breaking down complex problems and developing clean, efficient, and maintainable code. I can troubleshoot and resolve issues quickly, ensuring optimal performance.
</p>
                    
                    <span>Experience with REST APIs:</span><p>                    I’m skilled in integrating and working with RESTful APIs, which is crucial for creating dynamic and data-driven web applications.             
</p>
                </div>
            </div>

            <div class="resume-details Education">
                <h2 class="heading">My <span >Education</span></h2>
                <p class="desc">
                    I completed a Full Stack Development course at IT Vedaant, Pune, where I gained comprehensive 
                    knowledge of web development technologies. Additionally, I hold a Bachelor's degree in Engineering
                     from Jaihind College of Engineering, Kuran.
                </p>
                <div class="resume-list">
                    <div class="resume-items">
                        <p class="year">2021-2022</p>
                        <h3 class="name">IT Vedaant Pune</h3>
                        <p class="company">Full stack Developement Course</p>
                        <p class="desc">essential knowledge and skills related to technology, programming, software development, and systems management. </p>
                    </div>
                    <div class="resume-items">
                        <p class="year">2016-2021</p>
                        <h3 class="name">Jaihind College of Engineering, Kuran</h3>
                        
                        <p class="desc"> It combines theoretical knowledge with practical skills to equip students for challenges in the ever-evolving engineering field.</p>
                    </div>
                    <div class="resume-items">
                        <p class="year">2014-2016</p>
                        <h3 class="name">12<sup>th</sup>Science</h3>
                        
                        <p class="desc">12th Science is a crucial academic stream that focuses on subjects like Physics, Chemistry, Biology, and Mathematics, preparing for me.</p>
                    </div>
                    <div class="resume-items">
                        <p class="year">2014</p>
                        <h3 class="name">10<sup>th</sup></h3>
                        <p class="desc">10th grade is a pivotal year in education, where students solidify their understanding of core subjects and prepare for important board exams. </p>
                    </div>
                </div>
            </div>

            <div class="resume-details skills">
                <h2 class="heading">My <span >Skills</span></h2>
                <p class="desc">
                    I have strong proficiency in Angular, JavaScript, TypeScript, and HTML/CSS, enabling me to build dynamic and responsive web applications. Additionally,
                     I am skilled in working with RESTful APIs, Node.js, and MongoDB to create full-stack solutions.
                </p>
                <div class="resume-list">
                    <div class="resume-items">
                        <i class='bx bxl-html5'></i>
                        <span>HTML</span>
                    </div>
                    <div class="resume-items">
                        <i class='bx bxl-css3' ></i>
                        <span>CSS</span>
                    </div>
                    <div class="resume-items">
                        <i class='bx bxl-javascript' ></i>
                        <span>Javascript</span>
                    </div>
                    <div class="resume-items">
                        <i class='bx bxl-angular' ></i>
                        <span>Angular</span>
                    </div>
                    <div class="resume-items">
                        <i class='bx bxl-typescript' ></i>
                        <span>TS</span>
                    </div>
                    <div class="resume-items">
                        <i class='bx bxl-nodejs' ></i>
                        <span>Node</span>
                    </div>
                    <div class="resume-items">
                        <i class='bx bxl-mongodb' ></i>
                        <span>MongoDB</span>
                    </div>
                    
                </div>
            </div>

            <div class="resume-details about-me">
                <h2 class="heading">My <span >Information</span></h2>
                <p class="desc">
                    I am a passionate and dedicated Angular developer with a strong focus on creating scalable and efficient web applications.
                     With a solid foundation in front-end and back-end technologies, I strive to deliver high-quality solutions that
                      meet user needs and drive business success.
                </p>
                <div class="resume-list">
                    <div class="resume-items">
                        <p>Name:<span> Prathamesh Gosavi</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Gender:<span> Male</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Status:<span> Unmarried</span></p>
                    </div>
                    <div class="resume-items">
                        <p>City:<span> Pune</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Nationality:<span> Indian</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Phone:<span>+91 8830500059</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Email:<span> prathameshgosavi99&#64;gmail.com</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Languages:<span> English, hindi, marathi</span></p>
                    </div>
                    <div class="resume-items">
                        <p>Full time:<span> available</span></p>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
</section>