
<section class="container">
    <div class="home-ifo">
        <h1>{{name}}</h1>
        <h2>I'm a <span style="--i:1" data-text="Angular Developer">{{desc}}</span></h2>
        <p>I am a dedicated and skilled Angular Developer specializing in building dynamic, user-friendly,
             and scalable web applications. With hands-on experience in TypeScript, JavaScript, node, express,
              HTML, CSS. creating responsive and intuitive user interfaces. Proficient in using Angular frameworks
               and tools, I am passionate about writing clean, maintainable code and staying updated with the latest
                advancements in web development.</p>
    
    <div class="button-fp">
        <a href="./files/resume.pdf" target="_blank" class="cv">Download Cv</a>
        <div class="social">
            <a href=""><i class='bx bxl-github'></i></a>
            <a href=""><i class='bx bxl-linkedin' ></i></a>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=prathameshgosavi99@gmail.com&tf=cm"><i class='bx bxl-gmail' ></i></a>
            </div>
        </div>
    </div>
        <div class="img">
            <div class="home-img">
                <div class="img-item">
                    <img src={{myImg}} alt="my-img">
                </div>
            </div>
        </div>
    
</section>
